<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <h1>Here is a counter:{{count}}</h1>
      <form action="./increment" method="POST">

        {{csrfField() }}
        <input type="hidden" name="count" value="0">
        <input type="submit" name="do" value="increment">
      </form>
      <form action="./decrement" method="POST">

        {{csrfField() }}
        <input type="hidden" name="count" value="0">
        <input type="submit" name="do" value="decrement">
      </form>
    </div>
  </section>
</body>
</html>
